<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <aside>
            <div>
                <h2>Dashboard</h2>
            </div>
            <div>
                <ul>
                    <li><a href="#">Analysis</a></li>
                    <li><a href="#">Diseases</a></li>
                    <li><a href="#">Generally</a></li>
                    <li><a href="#">Task</a></li>
                </ul>
            </div>
        </aside>
    </main>
</body>
</html>