* {
  background-color: skyblue;
  color: black;
}
/* /auth/login.html */
.card-first {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card-header-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    /* margin-left: 200px;
    margin-right: 200px; */
    width: 500px;
}
.card-header-h1 {
    font: bold;
    color: skyblue;
}
.form-register {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.form-register-view {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
.form-register-view input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid gray;
}
.form-register-button input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(107, 243, 139);
    border: 1px solid rgb(107, 243, 139);
    margin-top: 20px;
}

.form-register-text {
    color: blue;
}

/* auth/login.html */

.card-header-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
}
.card-header-login h1 {
    color: skyblue;
    font: bold;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-login-view {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-login-view input {
    width: 300px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 10px;
}

/* Users/index.html */

.table-border {
    border-collapse: 1px black collapse;
}

/* Navbar content */
.navbar {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2 0px;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 1400px;
    border-radius: 10px;
    z-index: 1080;
}
.logo a{
    padding-left: 20px;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 20px;
    align-items: center;
    padding-left: 100px;
}
.nav-content li {
    list-style: none;
}

.nav-content li:hover {
    color: #e55743;
}
.nav-content a {
    text-decoration: none;
    color: #835ed1;
}
.navbar-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 700px;
}
.text-navbar-loggin {
    color: blue;
}
.text-nav-logout a {
    color: red;
}
.text-nav-logout a:hover {
    text-decoration: underline;
    color:rgb(208, 222, 61)
}
/* app/template/permission/index.html */
.column-table {
    width: 1400px;
    text-align: center;
    border-collapse: collapse;
}
.column-table thead tr th{
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
}
.column-table tbody tr td {
    border: 1px solid black;
}
.container {
    margin-top: 200px;
}